<form autocomplete="off">
  <div class="container-alignment">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-10">
        <div class="card px-3">
          <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <div class="add-items d-flex">

              <input matInput placeholder="Enter To do" class="form-control" [(ngModel)]="todoListData.newTodo" name="newTodo"
                (keyup.enter)="todoListData.newTodo=''">
              <button class="add btn btn-primary font-weight-bold todo-list-add-btn" (click)="addToList()"
                *ngIf="!todoListData.editValue">Add</button>
              <button class="add btn btn-success font-weight-bold todo-list-add-btn" (click)="saveToList()"
                *ngIf="todoListData.editValue">Save</button>
            </div>

            <div *ngIf="todoListData.todos.length > 0"> {{todoListData.todos.length}}
              <app-todo-task-list [todoList]="todoListData.todos" (editTaskEmitter)="editItem($event)"></app-todo-task-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<router-outlet></router-outlet>